
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background: url('../images/homedogs.png') no-repeat;
  background-size: contain;
}

.panel-default {
  border: none;
  box-shadow: -4px -1px 25px #666;
}